/* Main red: #FD2E2E*/
/* Dark red: #CF1B1B */

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf);
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu-Regular.ttf);
    font-display: swap;
}

#app {
    overflow-x: hidden;
}

* {
    font-family: 'Poppins';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu';
}
section {
    margin: 20px 0 !important;
    padding: 70px 0;
}

.navbar {
    transition: .3s;
}

.navbar.colored {
    background-color: #fff;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
    transform: .3s;
}

.navbar-nav {
    margin-left: auto !important;
}

.nav-link {
    position: relative;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: red;
    transition: .4s;
}

.nav-link:hover::before {
    width: 100%;
}

.my-button {
    background-color: #ffffff;
    border: 2px solid #FD2E2E;
    padding: 8px 30px;
    box-shadow: 4px 4px #FD2E2E;
    transition: .3s;
    border-radius: 4px;
    color: #FD2E2E;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    font-weight: 600;
}

.my-button:hover{
    color: #ffffff;
    background-color: #ff5757;
}

.my-button:active {
    transform: translate(4px, 4px);
    box-shadow: 0 0 #CF1B1B;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.hero {
    height: 100vh;
    background-image: url(../img/bg-hero.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 600px;
}

.headline h1 {
    font-size: 4.5rem;
    font-weight: bold;
    text-shadow:
    -1px -1px 0 #fff,  
     1px -1px 0 #fff,
     -1px 1px 0 #fff,
      1px 1px 0 #fff;
}

.headline p {
    font-size: 1.1rem;
}

.main-red {
    color: #FD2E2E;
}

.search-bar input,
.login-input {
    border: 3px solid #CF1B1B !important;
    border-radius: 8px !important;
    box-shadow: 5px 5px #CF1B1B !important;
    transition: 0.3s !important;
}

.search-bar input:focus,
.login-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(253, 46, 46, 0.2) !important;
}
.search-bar input,
.login-input{
    color: #DDDDDD !important;
}
.login-input:focus {
    transform: translate(5px, 5px);
    box-shadow: 0 0 #CF1B1B;
}
.search-bar {
    box-shadow: 5px 5px #CF1B1B;
    background-color: #CF1B1B;
    border-radius: 8px;
    transition: .3s;
    display: flex;
}

.search-bar.on-focus {
    transform: translate(4px, 4px);
    box-shadow: 0 0 #CF1B1B;
}

.search-bar-text {
    border: 3px solid #CF1B1B !important;
    border-right: none !important;
    padding-right: 0 !important;
    background-color: #ffffff;
}

.search-btn {
    background-color: #FD2E2E;
    border: 2px solid #CF1B1B;
    /* box-shadow: 4px 4px #CF1B1B; */
    padding: 8px 20px;
    border-radius: 8px !important;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    z-index: 2;
}

.search-btn:focus {
    outline: none !important;
}

.form-label {
    font-weight: 600;
    font-size: 1.2rem;
}

.layanan {
    background-image: url(../img/pattern1.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center left;
}

.card-content {
    background-color: #ffffff;
    font-weight: bold;
    border-radius: 8px;
    text-align: center;
    padding: 0 10px;
    text-decoration: none;
    color: #000000;
}
.card-content:hover {
    color: #000000;
}

.card-service {
    width: calc(100%/ 4 - 40px);
    transition: .3s;
}

.card-service:hover {
    transform: translateY(-20px);
}

.heading p {
    color: #888AA2;
    font-size: 1.1rem;
    font-weight: 600;
}

.heading h1 {
    color: #000000;
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: -16px;
}

.paragraf {
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.8rem;
    font-size: 1rem;
}

ul li, ol li {
    padding-left: 4px;
}

.profile {
    background-image: url(../img/dots.svg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 210px;
}

.text-wrapper {
    background-color: #ffffff;
}

.pengumuman {
    background-image: url(../img/pattern2.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
}

.berita {
    background-color: #ffffff;
    border-left: 4px solid #FD2E2E;
    border-bottom: 1px solid #888AA2;
    padding: 15px;
    transition: .3s;
    margin: 14px 0;
    border-top-right-radius: 8px;
}

.berita a {
    /* color: #000000; */
    text-decoration: none;
    font-size: 1.2rem;
}

.berita .date {
    color: #888AA2;
}

.berita:hover {
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
}

.jumlah {
    background-image: url(../img/dots.svg), url(../img/shape1.svg);
    background-repeat: no-repeat;
    background-position: bottom left, top right;
    background-size: 150px;
}

.info-jumlah {
    border-left: 12px solid #FD2E2E;
    padding-left: 8px;
}

.info-jumlah h1 {
    font-weight: bold;
    font-size: 2rem;
}

.info-jumlah h2 {
    font-weight: 600;
    color: #888AA2;
    font-size: 1.8rem;
}

.card-box {
    border-radius: 8px;
    border: 2px solid #CF1B1B;
    box-shadow: 6px 6px #CF1B1B;
    height: 100%;
    background-color: #fff;
}

.card-kegiatan h1 {
    font-size: 2rem;
    font-weight: bold;
}

.card-kegiatan ul {
    list-style: square;
    margin-top: -12px;
    color: #888AA2;
    line-height: 1.7rem;
}

.card-kegiatan ul li span {
    font-weight: bold;
}

.gallery {
    background-image: url(../img/dots.svg);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 250px;
}

.item {
    cursor: pointer;
}

.item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.informasi {
    background-image: url(../img/pattern2.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
}

footer {
    background-image: linear-gradient( #f5f7fa 0%, #c3cfe2 100%);
    padding: 70px 0;
}

footer p {
    color: #888AA2;
}

footer h4 {
    font-weight: 600;
    font-size: 1.3rem;
}

.bottom-nav {
    list-style-type: none;
    padding-left: 0 !important;
}

.bottom-nav li {
    padding: 8px 0;
}

.bottom-nav a {
    color: #888AA2;
    text-decoration: none;
}

.bottom-nav a:hover {
    color: #6f7083;
}

.link-sosmed a{
    padding-right: 20px;
}

/* === Halaman Katalog ===*/
/* modal buku */
.modal-img {
    display: none;
}
.modal-img.open {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    z-index: 99999999999999;
    transform: 1s;
}
.modal-img span {
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 30px;
}
.modal-img img {
    align-self: center;
    height: 90%;
    max-width: 90%;
}

.sub-hero {
    background-image: url(../img/bg-hero2.svg);
    background-repeat: no-repeat;
    background-position: top right;
    padding: 200px 0 40px 0;
}

.sub-hero .headline {
    /* position: relative; */
    border-left: 14px solid #FD2E2E;
    padding-left: 8px;
}

/* carousel */
.swiper-container.swiper-kategori {
    width: 100%;
    height: 350px;
    padding: 20px 0;
}

.card-kategori {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: #fff;
    text-decoration: none;
    transition: .3s;
    border-radius: 8px;
}

.card-kategori:hover {
    color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.swiper-slide {
    border-radius: 8px;
}

.swiper-kategori .swiper-wrapper .swiper-slide:nth-child(1) {
    background-color: #1F6F8B;
}
.swiper-kategori .swiper-wrapper .swiper-slide:nth-child(2) {
    background-color: #A4B787;
}
.swiper-kategori .swiper-wrapper .swiper-slide:nth-child(3) {
    background-color: #0278AE;
}
.swiper-kategori .swiper-wrapper .swiper-slide:nth-child(4) {
    background-color: #A3D2CA;
}
.swiper-kategori .swiper-wrapper .swiper-slide:nth-child(5) {
    background-color: #9D7655;
}
.swiper-kategori .swiper-wrapper .swiper-slide:nth-child(6) {
    background-color: #B088F9;
}
.swiper-kategori .swiper-wrapper .swiper-slide:nth-child(7) {
    background-color: #C03A2B;
}

.swiper-kategori .swiper-slide img {
    width: 100px;
}

.my-btn-secondary {
    background-color: #fff;
    border: 2px solid #CF1B1B;
    box-shadow: 3px 3px #CF1B1B;
    padding: 8px 20px;
    border-radius: 8px;
    color: #FD2E2E;
    text-decoration: none;
    transition: .2s;
    display: inline-block;
}
.my-btn-secondary:active {
    transform: translate(3px, 3px);
    box-shadow: 0 0 #CF1B1B;
}
.my-btn-secondary:hover {
    color: #CF1B1B;
}

.book-card {
    display: flex;
    text-decoration: none;
    transition: .3s;
    border-radius: 8px;
    background-color: #fff;
}
.book-card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-8px);
}
.book-desc a{
    color: #000000;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
}
.book-desc a:hover {
    color: #000000;
    text-decoration: underline;
}
.book-desc {
    color: #888AA2;
    padding-right: 50px;
}
.book-desc .penulis,
.book-desc .desc {
    font-weight: bold;
    display: block;
}
.book-card img {
    margin-right: 10px;
    border-radius: 8px;
    width: 200px;
}

.katalog {
    background-image: url(../img/shape2.svg);
    background-repeat: no-repeat;
    background-position: top left;
}
.page-link {
    color: #FD2E2E !important;
}
.page-item.active .page-link{
    background-color: #FD2E2E !important;
    color: #fff !important;
    border-color: #CF1B1B;
}

.swiper-buku {
    padding: 20px 0;
}

.book-slide {
    width: 230px;
    transition: .3s;
}
.book-slide:hover {
    transform: scale(1.05);
}
.book-slide img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 8px;
}
.book-slide .judul {
    font-size: 1.2rem;
    color: #000000;
    text-decoration: none;
}
.book-slide p {
    color: #888AA2;
}
.book-slide .judul:hover {
    color: #000000;
}

/* === END Halaman Katalog ===*/

/* === Halaman detail buku ===*/
.detail-page {
    background-image: url(../img/patternpad2.svg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100% 400px;
}

.detail {
    background-color: #ffffff;
    border-radius: 8px;
}
.info-item p,
.info-item td  {
    color: #6f7083;
}

.detail-table {
    width: 100%;
}
/* === End Halaman detail buku ===*/

/* === Login Page ===*/
.login-page {
    min-height: 100vh;
    margin: 0 !important;
    display: flex;
    align-items: center;
    background-image: url(../img/login-bg.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: calc(100% / 3);
    padding-top: 85px;
}

button:focus {
    outline: none !important;
}
.book-animation {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1 !important;
}

/* === End Login Page ===*/

/* // Medium devices (tablets, less than 992px) */
@media (min-height: 991.98px){
    .hero {
        height: 60vh;
    }
}

@media (max-width: 991.98px) {
    .hero {
        background-size: 55%;
    }

    .card-service {
        width: calc(100%/ 2 - 40px);
    }
    .jumlah {
    background-position:  -3000px, bottom right;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .hero {
        background-size: 50%;
    }
    .card-service {
        width: calc(100%/ 2 - 30px);
    }

    .gallery {
        background-position: top right;
    }
    .sub-hero {
        background-size: 80%;
    }
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .navbar-brand img {
        width: 100px;
    }
    .hero {
        background-size: 80%;
    }

    .card-service {
        width: calc(100%/ 2 - 20px);
    }
    .headline h1 {
        font-size: 3.5rem;
    }
    .heading h1 {
        font-size: 2.7rem;
    }
    .info-jumlah h1 {
        font-size: 1.5rem;
    }
    .info-jumlah h2 {
        font-size: 1.3rem;
    }
    .sub-hero {
        background-size: 100%;
    }
 }






